@model List<Customer>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Customer List</h3>
<a asp-action="Create" asp-controller="Home">Create</a>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Age
            </th>
            <th>
                İşlem
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id">Güncelle</a>
                    <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>



